.footer {
  background-color: #0070af;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-grow: 1 1;
}

.contacts li {
  padding: 25px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .container {
    max-width: 690px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

.phone {
  display: flex;
}

.phone:before {
  display: block;
  content: ' ';
  background-image: url('../../assets/svg/phone.svg');
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
}

.mail {
  display: flex;
}

.mail:before {
  display: block;
  content: ' ';
  background-image: url('../../assets/svg/envelope.svg');
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
}
.home {
  display: flex;
}

.home:before {
  display: block;
  content: ' ';
  background-image: url('../../assets/svg/home.svg');
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
}
